.navContainer{
 display: flex;
 justify-content: center;
 padding: 20px;
 margin-bottom: 20px;
}

.nav{
 display: flex;
 width: 85vw;
 justify-content: space-between;
 background-color: aqua;
 padding: 20px 50px;
 align-items: center;
 font-size: 30px;
}